<div class="site-wrap">
      
    <nav class="site-menu">
      <div class="site-menu-inner">
        <ul class="list-unstyled">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="menu.html">Our Menu</a></li>
          <li><a href="blog.html">Our Blog</a></li>
          <li><a href="reservation.html">Reserve A Table</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>

    <header class="site-header">
      <div class="row align-items-center">
        <div class="col-5 col-md-3">
           <ul class="list-unstyled social">
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
        <div class="col-2 col-md-6 text-center">
          <a routerLink="/" class="site-logo pointer">L</a>
        </div>
        <div class="col-5 col-md-3 text-right menu-burger-wrap">
          <a class="site-nav-toggle js-site-nav-toggle pointer"><i></i></a>

        </div>
      </div>
     
    </header> <!-- site-header -->
    
    <div class="main-wrap">
      <div class="cover_1">
        <div class="img_bg" style="background-image: url(assets/img/slider-1.jpg);"  data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-12" [ngClass]="{'aos-init aos-animate':initApp}" data-aos="fade-up">
                <h2 class="heading text-center">Postres Lucía</h2>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .cover_1 -->

      <div class="section services-section">
        <div class="container">
           
          <div class="row" id="sectionPostres">
            <div class="col-md-12 col-lg-12 col-sm-12 text-center">
              <h1>Postres</h1>
            </div>
            <div class="col-md-6 col-lg-6 aos-init" data-aos="fade-up">
              <div class="media feature-icon d-block text-center">
                <div class="icon">
                  <img src="assets/icons/milk.svg" style="width: 60px; margin-top: 18px;">
                  <!-- <span class="flaticon-soup"></span> -->
                </div>
                <div class="media-body">
                  <h3>Postres de leche</h3>
                  <p>Los postres de leche más deliciosos que podrás encontrar. La receta de la abuela en tu paladar. Arroz con leche, leche asada, semola con leche...</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="media feature-icon d-block text-center">
                <div class="icon">
                  <img src="assets/icons/fruit.svg" style="width: 60px; margin-top: 18px;">
                  <span class="flaticon-vegetables"></span>
                </div>
                <div class="media-body">
                  <h3>Gelatinas</h3>
                  <p>Gelatinas con sabor a variedades de frutas junto con el más delicioso babarua. El más delicioso y refrescante postre ideal para tus días de calor.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .section -->

      <div class="section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7 text-center"  data-aos="fade-up">
              <h2 class="mb-4">Nuestros productos</h2>
              <p class="lead">Elige el producto que más te guste y comienza a disfrutar.</p>
            </div>
          </div>
        </div>
      </div> <!-- .section -->
      
      <div class="section pt-0 pb-0">

        <div class="menus d-flex bg-light">
          <div class="d-flex item">
            <div class="image" style="background-image: url(../../assets/img/arroz.jpg);" data-aos="fade"></div>
            <div class="text">
              <h3>Arroz con leche</h3>
              <p>La mezcla perfecta de arroz, leche, canela y clavo de olor.</p>
              <p class="price">$5.00</p>
            </div>
          </div> <!-- .item -->

          <div class="d-flex item">
            <div class="image order-2 order-md-1"  style="background-image: url(../../assets/img/semola.jpg);" data-aos="fade" data-aos-delay="100"></div>
            <div class="text order-1 order-md-2">
              <h3>Sémola con leche</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo quisquam saepe quaerat.</p>
              <!-- <p class="price">$6.00</p> -->
            </div>
          </div> <!-- .item -->

          <div class="d-flex item">
            <div class="image order-1 order-md-2 order-lg-2 order-xl-1" style="background-image: url(../../assets/img/leche_asada.jpg);" data-aos="fade" data-aos-delay="200"></div>
            <div class="text order-2 order-md-1 order-lg-1 order-xl-2">
              <h3>Leche asada</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo quisquam saepe quaerat.</p>
              <!-- <p class="price">$9.00</p> -->
              
            </div>
          </div> <!-- .item -->

          <div class="d-flex item">
            <div class="image order-2" style="background-image: url(../../assets/img/jaleas.jpg);" data-aos="fade" data-aos-delay="300"></div>
            <div class="text order-1 mb-3">
              <h3>Gelatina</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo quisquam saepe quaerat.</p>
              <!-- <p class="price">$13.00</p> -->
            </div>
          </div> <!-- .item -->

          <div class="d-flex item">
            <div class="image order-1 order-lg-1 order-xl-2" style="background-image: url(../../assets/img/babarua.jpg);" data-aos="fade" data-aos-delay="400"></div>
            <div class="text order-2 order-lg-2 order-xl-1">
              <h3>Babarua</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo quisquam saepe quaerat.</p>
              <!-- <p class="price">$9.00</p> -->
            </div>
          </div> <!-- .item -->

          <div class="d-flex item">
            <div class="image order-2 order-md-1 order-lg-1 order-xl-2" style="background-image: url(../../assets/img/jalea_babarua.jpg);" data-aos="fade" data-aos-delay="500"></div>
            <div class="text order-1 order-md-2 order-lg-2 order-xl-1">
              <h3>Gelatina con babarua</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illo quisquam saepe quaerat.</p>
              <!-- <p class="price">$7.00</p> -->
            </div>
          </div> <!-- .item -->

        </div>
      </div> <!-- .section -->
      
      
      <!-- .section -->

      <div class="section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8" data-aos="fade-up">

              <h2 class="mb-5 text-center">Nuestras promociones</h2>

              <ul class="nav site-tab-nav" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-breakfast-tab" data-toggle="pill" href="#pills-breakfast" role="tab" aria-controls="pills-breakfast" aria-selected="true">Postres de leche</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-lunch-tab" data-toggle="pill" href="#pills-lunch" role="tab" aria-controls="pills-lunch" aria-selected="false">Gelatinas</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" id="pills-dinner-tab" data-toggle="pill" href="#pills-dinner" role="tab" aria-controls="pills-dinner" aria-selected="false">Dinner</a>
                </li> -->
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-breakfast" role="tabpanel" aria-labelledby="pills-breakfast-tab">
                  <div class="d-block d-md-flex menu-food-item">
                    <div class="text order-1 mb-3">
                      <h3><a href="#">Promo 1</a></h3>
                      <p>descripcion...</p>
                    </div>
                    <div class="price order-2">
                      <strong>$5.000</strong>
                    </div>
                  </div> <!-- .menu-food-item -->

                  <div class="d-block d-md-flex menu-food-item">
                    <div class="text order-1 mb-3">
                      <h3><a href="#">Promo 2</a></h3>
                      <p>definir...</p>
                    </div>
                    <div class="price order-2">
                      <strong>$9.000</strong>
                    </div>
                  </div> <!-- .menu-food-item -->

                  <div class="d-block d-md-flex menu-food-item">
                    <div class="text order-1 mb-3">
                      <h3><a href="#">Promo 3</a></h3>
                      <p>definir...</p>
                    </div>
                    <div class="price order-2">
                      <strong>$13.000</strong>
                    </div>
                  </div> <!-- .menu-food-item -->

                  <div class="d-block d-md-flex menu-food-item">
                    <div class="text order-1 mb-3">
                      <h3><a href="#">Promo 4</a></h3>
                      <p>definir...</p>
                    </div>
                    <div class="price order-2">
                      <strong>$18.000</strong>
                    </div>
                  </div> <!-- .menu-food-item -->


                </div>
                <div class="tab-pane fade" id="pills-lunch" role="tabpanel" aria-labelledby="pills-lunch-tab">
                  
                  <div class="d-block d-md-flex menu-food-item">
                    <div class="text order-1 mb-3">
                      <h3><a href="#">Promo 1</a></h3>
                      <p>descripcion...</p>
                    </div>
                    <div class="price order-2">
                      <strong>$5.000</strong>
                    </div>
                  </div> <!-- .menu-food-item -->

                  <div class="d-block d-md-flex menu-food-item">
                    <div class="text order-1 mb-3">
                      <h3><a href="#">Promo 2</a></h3>
                      <p>definir...</p>
                    </div>
                    <div class="price order-2">
                      <strong>$9.000</strong>
                    </div>
                  </div> <!-- .menu-food-item -->

                  <div class="d-block d-md-flex menu-food-item">
                    <div class="text order-1 mb-3">
                      <h3><a href="#">Promo 3</a></h3>
                      <p>definir...</p>
                    </div>
                    <div class="price order-2">
                      <strong>$13.000</strong>
                    </div>
                  </div> <!-- .menu-food-item -->

                  <div class="d-block d-md-flex menu-food-item">
                    <div class="text order-1 mb-3">
                      <h3><a href="#">Promo 4</a></h3>
                      <p>definir...</p>
                    </div>
                    <div class="price order-2">
                      <strong>$18.000</strong>
                    </div>
                  </div> <!-- .menu-food-item -->

                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      

    </div> <!-- .main-wrap -->
    

    <footer>
      <div class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 text-center mb-4">
              <h2>Contactanos por:</h2>
            </div>
            <div class="col-md-6 text-center mt-2">
              <h3>WhatsApp</h3>
              <a href="https://api.whatsapp.com/send?phone=56984143122">
                <img src="assets/icons/whatsapp.svg" style="width: 40px;">
              </a>
            </div>
            <div class="col-md-6 text-center mt-2">
              <h3>Teléfono</h3>
              <a href="tel:+56984143122">
                <img src="assets/icons/call.svg" style="width: 40px;">
              </a>
            </div>
         </div>
        </div>
      </div>
    </footer>

    <div class="site-footer-copyright">
      <div class="container">
        <div class="row">

           <p class="footer-text col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>

  </div>

  <!-- loader -->
  <!-- <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div> -->
